$black: #111111;
$red: #FF4655;
$bg: #ECE8E1;


@font-face {
    font-family: Mark;
    src: url("../fonts/Mark/FontFont_FF.Mark.Pro.Medium.otf");
}

  @font-face {
    font-family: Next;
    src: url("../fonts/Next/Regular.ttf");
}

@font-face {
  font-family: Tungsten;
  src: url("../fonts/Tungsten/561f38b1f4570de0fb8a39d691ab058c.ttf");
}